*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}
html{
    scroll-behavior: smooth;
}

body{
    background:linear-gradient(120deg,#010722,#613b63);
    color:#333;
}

/* NAVBAR */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(10px);
    color:white;
}

nav h2{
    font-weight:600;
}

nav ul{
    display:flex;
    gap:25px;
    list-style:none;
}

nav a{
    text-decoration:none;
    color:white;
    font-weight:500;
}

/* HERO */
.hero{
    text-align:center;
    padding:80px 20px;
    color:white;
}

.hero h1{
    font-size:48px;
}

.hero p{
    margin-top:10px;
    font-size:18px;
    opacity:0.9;
}

/* SECTION CARD */
.section{
    max-width:900px;
    margin:30px auto;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.section p{
    margin-top:1%;
}
/* SKILLS */
.skills span{
    display:inline-block;
    background:#667eea;
    color:white;
    padding:8px 14px;
    border-radius:20px;
    margin:6px;
    font-size:14px;
}

/* PROJECTS */
.project{
    padding:15px;
    border-radius:10px;
    margin-top:15px;
    background:#f6f8ff;
    transition:0.3s;
}

.project:hover{
    transform:translateY(-5px);
    box-shadow:0 8px 18px rgba(0,0,0,0.1);
}

/* FOOTER */
footer{
    text-align:center;
    padding:20px;
    color:white;
    margin-top:40px;
}
